.chips_outer{
display:flex;
align-items:center;
justify-content:center;
 width:62px;
height:22px;
padding: 5px, 10px, 5px, 10px;
border-radius: 8px;
gap: 10px;
background-color:#EEECEC;
margin:2px;

}

.chips{
   
    font-size:12px;
    font-weight:normal;
    padding:2px;

}

.task_chips{
    display:flex;
    align-items:center;
    justify-content:center;
}